*
{
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    width: 100vw;
    height: 100vh;
    font-family: 'Roboto Mono', monospace;
}

h1 {
    position: relative;
    font-size: 30px;
    margin-top: 40vh;
    margin-left: 25vw;
}

.button {
    font-size: 20px;
    margin-top: 5vh;
    margin-left: 25vw;
}