*
{
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    width: 100vw;
    height: 100vh;
    font-family: 'Roboto Mono', monospace;
    overflow: hidden;
}

h1 {
    position: relative;
    font-size: 30px;
    margin-top: 40vh;
    margin-left: 25vw;
}

.main {
    position: relative;
    font-size: 20px;
    margin-top: 5vh;
    margin-left: 25vw;
    margin-right: 55vw;
}

a {
    color: black;
    text-decoration-line: none;
    cursor: pointer;
}

nav {
    width: 100vw;
    height: 100vh;
    position: relative;
    font-size: 40px;
    margin-top: 40vh;
}

.button {
    position: center;
    text-align: center;
}

