*
{
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: 'Roboto Mono', monospace;
    overflow: hidden;
    background-color: white;
    color: black;
}

h1 {
    font-size: 30px;
    margin-top: 40vh;
    margin-left: 25vw;
}

.main {
    font-size: 20px;
    margin-top: 5vh;
    margin-left: 25vw;
    margin-right: 55vw;
}

a {
    color: black;
    text-decoration-line: none;
    cursor: pointer;
}

nav {
    width: 100vw;
    height: 100vh;
    position: relative;
    font-size: 40px;
    margin-top: 40vh;
}

.button {
    position: center;
    text-align: center;
}

.about {
    margin-top: 25%;
    margin-left: 25%;
    text-align: center;
    font-size: 25px;
    width: 50vw;
    height: 50vh;
}

.box {
    position: absolute;
    width: 100%;
    height: 100%;
    font-size: 20px;
}

.box1 {
    width: 60vw;
    height: 20vh;
    position: relative;
    top: 20px;
    left: 20px;
    text-align: justify;
}

.box2 {
    width: 60vw;
    height: 20vh;
    position: relative;
    top: 50px;
    left: 520px;
    text-align: justify;
}

.box3 {
    width: 60vw;
    height: 20vh;
    position: relative;
    top: 80px;
    left: 20px;
    text-align: justify;
}

.box4 {
    width: 60vw;
    height: 20vh;
    position: relative;
    top: 110px;
    left: 520px;
    text-align: justify;
}

.gallery {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: auto;
}

img {
    position: relative;
    top: 30px;
    left: 15%;
}

footer {
    position: fixed;
    bottom: 10px;
    left: 10px;
    width: 100%;
    height: 15px;
    text-align: center;
}

button {
    position: fixed;
    top: 10px;
    right: 10px;
    border: none;
    text-align: center;
    background-color: white;
    width: 200px;
    height: 40px;
    font-size: 20px;
    cursor: pointer;
    outline: none;
}